{
  "endOfLine": "crlf",
  "useTabs": false,
  "printWidth": 120,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "proseWrap": "always",
  "semi": true,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": ["*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}